# Local
.DS_Store
*.local
*.log*

# Python
__pycache__/
*.pyc

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
___*
___*.*

*storybook.log
storybook-static
